<div class="col-md-11">
    <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
    <p class="title" style="">Видео</p>
    <div class="video-gallery">
        {% if content.getGallery.GalleryHasMedias is defined %}
            {% for galleryHasMedia in content.getGallery.GalleryHasMedias %}
                <div>
                    {% media galleryHasMedia.media, 'special' with {'class': ''} %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

