<div class="content">
    <div class="content">
        <p class="title">{{ content.getName() }}</p>
        <div class="contentSlider">
            {% for value in stuff %}
            <figure class="slidesjs-slide" style="margin:0;padding:0;">
                <div class="row">
                    <div class="rightBlock col-md-6" style="">
                        <div class="advantage2 red" style="text-align: right;">
                            <strong>{{ value.name }}</strong>
                            {% autoescape false %}
                                {{ value.text }}
                            {% endautoescape %}

                            <div class="buttonSquare">
                                <a href="javascript:;" onclick="toggleMenu('secondLayerMenuStuff');">Узнать подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="leftBlock col-md-6">
                        {% media value.media, 'big' with {'style': 'width:100%;'} %}
                    </div>
                </div>
            </figure>
            {% endfor %}

            <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-left"></i></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</div>