<div class="col-md-11">
    <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
    <p class="title">{{ content.getName() }}</p>
    <div class="inside">
        {% if galleryId is defined and galleryId is not null  %}
            <a class="button-square" href="/linkedgallery/{{ galleryId }}" style="margin-left: 50px;margin-bottom: 20px;float: right;">Фото / Видео</a>
        {% endif %}
        {% autoescape false %}
            {{ content.getContent()}}
        {% endautoescape %}
        
    </div>
</div>