<div class="content">
    <div class="buttonSquare" style="position: absolute;right: 250px;top: 35px;">
        <a href="/news/" style="font-size: 20px;padding: 4px 20px;">Все новости</a>
    </div>
    <p class="title">{{ content.getName() }}</p>
    <div class="contentSlider">
        {% for new in news %}
            <figure class="slidesjs-slide" style="margin:0;padding:0;">
                <div class="leftBlock">
                    <div class="advantage2 red" style="text-align: right;">
                        <strong>{{ new.name }}</strong>
                        <p>
                        {% autoescape false %}
                            {{ new.text|striptags|slice(0, 200) }}...
                        {% endautoescape %}
                        </p>
                        <div class="buttonSquare">
                            <a href="/news/{{ new.getId() }}" style="font-size: 16px;">Узнать подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="rightBlock">
                    {% media new.media, 'big' %}
                </div>
                
            </figure>
        {% endfor %}

        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>