<div class="col-md-11">
    <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
    <div class="stick"></div>
    <p class="title">{{ content.getName() }}</p>

    <div class="contentSlider">
        {% for team in content.getTeams() %}
            <figure class="slidesjs-slide" style="margin:0;padding: 0;">
                <div class="col-md-5 col-md-offset-1">
                    <div class="advantage2 red" style="text-align: right;">
                        {% autoescape false %}
                            {{ team.text }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="col-md-6">
                    {% media team.media, 'big' with {'style': 'width:100%;'} %}
                </div>
            </figure>
        {% endfor %}

        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
