<div class="col-xs-12 visible-xs" style="margin-top: 40px;"></div>
<div style="position:relative;display: block;clear: both;">
    <div class='col-md-12' name="video" style="min-height: 300px;">
        <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
        <div class="stick"></div>
        <div class="row">
            <div class='col-md-4 col-xs-12'>
                <p class='title'>{{ content.getName()}}</p>
                <div class='advantage'>
                    {% autoescape false %}
                        {{ content.getContent()}}
                    {% endautoescape %}
                </div>
            </div>
            <div class='col-md-8 hidden-xs'>
                    {#
                    <a class='play'><i class='fa fa-play'></i></a>
                    <a class='pause' href='#' style='display: none;'><i class='fa fa-pause'></i></a>
                    <a class='expand'><i class='fa fa-expand'></i></a>
                    <a class='compress' href='#' style='display: none;'><i class='fa fa-compress'></i></a>#}
            </div>
        </div>
    </div>
    
    <div class="angle-block-video">
        <video loop='' autoplay="autoplay" muted>
            <source src='{% path gallery.GalleryHasMedias[0].media, 'reference' %}' type='video/mp4'>
        </video>
    </div>
    <div class="angle-block-bg"></div>
</div>