<div class='content'>
    <p class='title'>{{ content.getName()}}</p>
    <div class='leftBlock inside'>
        <div class='advantage2 red'>
            {% autoescape false %}
                {{ content.getContent()}}
            {% endautoescape %}
        </div>
        {% if content.secondMenu !=  -1%}
            <div class='buttonSquare'>
                <a href='javascript:;' onclick="toggleMenu('secondLayerMenu{{ content.getSecondMenu()}}');">Узнать подробнее</a>
            </div>
        {% endif %}
    </div>
    <div class='rightBlock'>
        <div class='slidesCont'>
            {% if gallery.GalleryHasMedias is defined %}
                {% for galleryHasMedia in gallery.GalleryHasMedias %}
                    {% media galleryHasMedia.media, 'big' with {'class': ''} %}
                {% endfor %}
            {% endif %}
            <a href='#' class='slidesjs-previous slidesjs-navigation'><i class='fa fa-chevron-left'></i></a>
            <a href='#' class='slidesjs-next slidesjs-navigation'><i class='fa fa-chevron-right'></i></a>
        </div>
    </div>
</div>
