<div class="col-md-11 col-xs-12">
    <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
    <div class="stick"></div>
    <p class='title'>{{ content.getName()}}</p>
    <div class="row">
        <div class='col-md-5 col-xs-7'>
            <div class='advantage2 easy-times'>
                {% for paper in times %}
                    <a target="_blank" href="{% path paper.file, 'reference' %}">{{ paper.name }}</a>
                {% endfor %}
            </div>
            <a class="button-square" href='/easytimes/' style="float:right;">Все выпуски</a>
        </div>
        <div class='col-md-7 col-xs-5'>
            <img src="{{ asset('/bundles/easymain/images/easy_times.jpg') }}" style="width: 100%;">
        </div>
    </div>
</div>