<div class='col-md-12' name="video" style="border-bottom: none;margin-top: 110px;margin-bottom: 200px;">
    <div class="stick"></div>
    <div class="row">
        <div class='col-md-4'>
            <p class='title'>{{ content.getName()}}</p>
            <div class='advantage'>
                {% autoescape false %}
                    {{ content.getContent()}}
                {% endautoescape %}
            </div>
            <div class="buttonSquare" style="float:left;">
                <a href="javascript:;" onclick="toggleMenu('secondLayerMenu11');">Узнать подробнее<i class="fa fa-angle-right"></i></a>
            </div>
            {% if content.secondMenu !=  -1%}
                {#<div class='buttonSquare'>
                    <a href='javascript:;' onclick="toggleMenu('secondLayerMenu{{ content.getSecondMenu()}}');">Узнать подробнее</a>
                </div>#}
            {% endif %}
        </div>
        <div class='col-md-8' style="">
                <a class='play'><i class='fa fa-play'></i></a>
                <a class='pause' href='#' style='display: none;'><i class='fa fa-pause'></i></a>
                {#
                <a class='expand'><i class='fa fa-expand'></i></a>
                <a class='compress' href='#' style='display: none;'><i class='fa fa-compress'></i></a>#}
        </div>
    </div>
</div>

<div class="angleBlock" style='top: -100px;'>
    <video loop='' autoplay="autoplay" muted style="width: 100%;

position: absolute;
top: -37%;">
        <source src='{% path gallery.GalleryHasMedias[0].media, 'reference' %}' type='video/mp4'>
    </video>
</div>
<div class="angleBlock" style="
top: -100px;
opacity: 1;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,ffffff+75,ffffff+100&amp;1+0,0+25,0+75,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(25%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


">
    
</div>
<div class="angleBlock" style="
    top: -100px;
    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+22,ffffff+48&amp;0.9+0,0.9+22,0+48 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 22%, rgba(255,255,255,0) 48%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.9)), color-stop(22%,rgba(255,255,255,0.9)), color-stop(48%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */




    ">

    </div>
