<div class="col-md-11">
    <a name="anchor{{ content.id }}"></a>
    <p class="title purple" style="">Фото</p>
    <div class="links">
        {% if content.getGallery.GalleryHasMedias is defined %}
            {% for galleryHasMedia in content.getGallery.GalleryHasMedias %}
                <div class="col-md-3 col-xs-4">
                    <a href="{% path galleryHasMedia.media, 'big' %}" title="" data-gallery style="background: url('{% path galleryHasMedia.media, 'big' %}');">

                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

