<div class='content'>
    <p class='title'>{{ content.getName()}}</p>
    <div class='leftBlock'>
        <div class='advantage'>
            {% autoescape false %}
                {{ content.getContent()}}
            {% endautoescape %}
        </div>
        {% if content.secondMenu !=  -1%}
            <div class='buttonSquare'>
                <a href='javascript:;' onclick="toggleMenu('secondLayerMenu{{ content.getSecondMenu()}}');">Узнать подробнее</a>
            </div>
        {% endif %}
    </div>
    <div class='rightBlock'>
        <div class='videoContainer'>
            <div class="videoPreloader">
                 <p>Пожалуйста, посмотрите наше видео</p>
                {% if gallery.GalleryHasMedias[1] is defined %}
                    {% media gallery.GalleryHasMedias[1].media, 'big' %}
                {% endif %}
            </div>
            <video loop=''>
                <source src='{% path gallery.GalleryHasMedias[0].media, 'reference' %}' type='video/mp4'>
            </video>  
            <a class='play'><i class='fa fa-play'></i></a>
            <a class='pause' href='#' style='display: none;'><i class='fa fa-pause'></i></a>
            
            <a class='expand'><i class='fa fa-expand'></i></a>
            <a class='compress' href='#' style='display: none;'><i class='fa fa-compress'></i></a>
        </div>
    </div>
</div>
