{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-11">
                <p class="title">The Easy Times</p>
                <div class="links">
                    {% for gallery in content %}
                        <a href="{% path gallery.GalleryHasMedias[0].media, 'reference' %}" target="_blank">
                            {% if gallery.GalleryHasMedias[1] is defined %}
                                <div style="width: 100%; height: 165px; background: url('{% path gallery.GalleryHasMedias[1].media, 'big' %}'); background-size: cover;">
                                </div>
                            {% endif %}
                            {{ gallery.name }} 
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
    <ul style="position: relative;">
        <li><a href="/life/#section2" class="scroll">Наша жизнь</a></li>
    </ul>
{% endblock %}
