{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div class="content" style="margin-top: 160px;">
        <p class="title" style="">Галерея</p>
        <div class="links">
            {% for galleryHasMedia in content.GalleryHasMedias %}
                {% if galleryHasMedia.media.providerName == 'sonata.media.provider.image' %}
                    <a href="{% path galleryHasMedia.media, 'big' %}" title="" data-gallery style="background: url('{% path galleryHasMedia.media, 'medium' %}');"></a>
                {% else %}
                    {% media galleryHasMedia.media, 'special' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}
