{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <section class="section">
        <div class="content">
            <p class="title">Галерея</p>
            <div class="links">
                {% for galleryHasMedia in content.GalleryHasMedias %}
                    {% if galleryHasMedia.media.providerName == 'sonata.media.provider.image' %}
                        <a href="{% path galleryHasMedia.media, 'big' %}" title="" data-gallery style="background: url('{% path galleryHasMedia.media, 'big' %}');"></a>
                    {% else %}
                        {% media galleryHasMedia.media, 'special' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block sideHeader %}
{% endblock %}
