{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <section class="section">
        <div class="content">
            <div style="display: table;margin-bottom: 50px;width: 100%;">
                <p class="title">{{ content.getName() }}</p>
                <div class="inside">
                    {% autoescape false %}
                        {{ content.getText()}}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block sideHeader %}
{% endblock %}
