{% extends 'EasyMainBundle::layout.html.twig' %}

{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-11">
                <div style="display: table;margin-bottom: 50px;width: 100%;">
                    <p class="title">Страница не найдена</p>
                    <div class="inside">
                        Что-то пошло не так и мы не смогли для вас найти нужную страницу, но у нас есть еще много интересного.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}
