{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-11">
                <p class="title">{{ content.getName() }}</p>
                <div class="inside">
                    {% autoescape false %}
                        {{ content.getText()}}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
    <ul style="position: relative;">
        <li><a href="/life/#section3" class="scroll">Наша жизнь</a></li>
    </ul>
{% endblock %}
