{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-11">
                <p class="title">The Easy Times</p>
                <div class="row links">
                    {% for paper in content %}
                        <div class="col-md-3 col-xs-6">
                            <a href="{% path paper.file, 'reference' %}" target="_blank">
                                {% if paper.image is defined %}
                                    <div style="width: 100%; height: 165px; background: url('{% path paper.image, 'big' %}'); background-size: cover;">
                                    </div>
                                {% endif %}
                                {{ paper.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
    <ul style="position: relative;">
        <li><a href="/life/#section2" class="scroll">Наша жизнь</a></li>
    </ul>
{% endblock %}
