{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-11">
                <p class="title">{{ content.name }}</p>
                <div class="links">
                    {% for galleryHasMedia in content.galleryHasMedias %}
                        {% if galleryHasMedia.media is not null and galleryHasMedia.media.providerName == 'sonata.media.provider.image' %}
                            <div class="col-md-3 col-xs-4">
                                <a href="{% path galleryHasMedia.media, 'big' %}" title="" data-gallery style="background: url('{% path galleryHasMedia.media, 'big' %}');"></a>
                            </div>
                        {% else %}
                            <div class="col-md-6 col-xs-12 specVideo">
                                {% media galleryHasMedia.media, 'big' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}
