{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
   <div id="page">
        <div class="container">
            <div class="col-md-12">
                <p class="title">Новости</p>
                <div class="links">
                    {% for news in content %}
                        <div class="col-md-3 col-xs-6">
                            <a href="#popup{{ loop.index }}" class="popup">
                                {% if news.media is defined %}
                                    <div style="background: url('{% path news.media, 'big' %}');">
                                    </div>
                                {% endif %}
                                {{ news.name }}
                            </a>
                        </div>
                        <div style='display:none;'>
                            <div id='popup{{ loop.index }}' style='padding:10px; background:#fff;'>
                                <div class="inside">
                                    {% autoescape false %}
                                        {{ news.text }}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
    <ul style="position: relative;">
        <li><a href="/life/#section2" class="scroll">Наша жизнь</a></li>
    </ul>
{% endblock %}
