{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-11">
                <div style="display: table;margin-bottom: 50px;width: 100%;">
                    <p class="title">{{ content.getName() }}</p>
                    <div class="inside">
                        {% autoescape false %}
                            {{ content.getText()}}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
    <ul style="position: relative;">
        <li><a href="/life/#section2" class="scroll">Все новости</a></li>
    </ul>
{% endblock %}
